body {
    background-image: url("../images/Default.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    object-fit: cover;
    height: 100vh;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;  
}
#header {
    text-shadow: 2px 2px 1px black;
    text-decoration-line: none;
}
#weatherContainer {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 5px black;
    padding: 40px;
    border-radius: 20px;
    position: absolute;
    visibility: hidden;
}
#weatherContainer h1 {
    margin: 5px;
    font-size: 42px;
    font-family: "Lucida Sana Unicode", "Lucida Grande", sans-serif;
}
#searchContainer {
    padding: 15px;
    position: absolute;
    top: 5%;
    right : 3%;
}
#searchContainer input {
    width: 200px;
}
#searchContainer button {
    background-color: rgb(1, 159, 200);
    width: 75px;
}
.searchControl {
    box-shadow: 2px 2px 5px black ;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
#weatherMain {
    display: block;
    margin-bottom: 25px;
}
#weatherMain div {
    display: inline-block; 
}
#weatherDescriptionHeader {
    font-size: 20px;
    vertical-align: 50%;
}
#temperature {
    font-size: 30px;
    vertical-align: 25%;
}
#documentIconImg {
    vertical-align: 10%;
}
.bottom-details {
    display: block;
    font-size: 15px;
    text-align: right;
}
hr {
    margin-bottom: 20px;
}
#footer {
    bottom: 5%;
    display: block;
    position: fixed;
    text-align: center;
    width: 100%;
}