body {
    background-image: url("../images/Default.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    object-fit: cover;
    height: 100vh;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;  
}
#header {
    text-shadow: 2px 2px 1px black;
    text-decoration-line: none;
}
h1 {
    color: #fff;
}
#weatherContainer {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 5px black;
    padding: 40px;
    border-radius: 20px;
    position: absolute;
    visibility: hidden;
}
#weatherContainer h1 {
    margin: 5px;
    font-size: 42px;
    font-family: "Lucida Sana Unicode", "Lucida Grande", sans-serif;
}
#searchContainer {
    padding: 15px;
    position: absolute;
    top: 5%;
    right : 3%;
}
#searchContainer input {
    width: 200px;
    outline: 0;
}
#searchContainer button {
    background-color: rgb(1, 159, 200);
    width: 75px;
    outline: 0;
}
.searchControl {
    box-shadow: 2px 2px 5px black ;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
#weatherMain {
    display: block;
    margin-bottom: 25px;
}
#weatherMain div {
    display: inline-block; 
    text-align: center;
}
#temperature {
    font-size: 30px;
    vertical-align: 25%;
    text-align: center;
}
#documentIconImg {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.bottom-details {
    display: block;
    font-size: 15px;
    text-align: right;
}
hr {
    margin-bottom: 20px;
}
.footer {
    position: relative;
    top: 425px;
    text-align: center;
    color: #fff;
    padding: 2rem 0;
}

.footer__title {
    font-size: 15px;
    margin-bottom: 2rem;
}

.footer__icon {
    font-size: 1.5rem;
    color: whitesmoke;
    margin: 0 1rem;
    top: 400px;
}
